:root{
    --dark: #393E46;
    --dark-blue: #222831;
    --light: #EEEEEE;
}

.btn{
    background-color: var(--dark);
    padding: 1em 5em;
}

.btn:hover{
    border: 1px solid var(--dark);
    color: var(--dark);
}

.row{
    place-content: center;
}

.card{
    border: 1px solid var(--dark-blue);
    transition-duration: 100ms;
}

.card:hover{
    border: 1px solid var(--light);
}

img{
    border-radius: 2.5px;
    float: right;
    max-height: 200px;
    margin: 10px;
}