:root{
    --dark: #393E46;
    --dark-blue: #222831;
    --light: #EEEEEE;
}

h1{
    text-align: center;
}

.costum-btn{
    background-color: var(--dark);
    padding: 1em 5em;
}

.costum-btn:hover{
    border: 1px solid var(--dark);
    color: var(--dark);
}

.row{
    gap: 1em 0em;
    place-content: center;
}

.card{
    border: 1px solid var(--dark-blue);
}

.card:hover{
    border: 1px solid var(--light);
    transform: translate(-2px, -5px);
    filter: drop-shadow(2px 5px 10px black);
    z-index: 99;
}

.card-body > h5{
    text-decoration: underline;
}

.col-md-7:nth-of-type(2) > .card > .card-body > ol > li{
    margin-block: .75em;
}

img{
    border-radius: 2.5px;
    float: right;
    max-height: 200px;
    margin: 10px;
}